In [1]:
import pandas as pd

In [2]:
dataset = {
    "action" : ["matrix","batman","superman","dabang","avengers","thor","hulk","krrish","ironman"],
    "comedy" : ["the mask","dhamaal","bala","housefull","golmaal","hera pheri","golmaal 2","dhamaal 2","hera pheri 2"],
    "drama" : ["dabang","krrish","hera pheri","bala","kahani","batla house","kgf","zero","sultan"],
    "thriller" : ["kahani","kgf","batla house","madras cafe","uri","raw","lucy","the ring","oculus"],
    "horror" : ["oculus","the ring","it","the ring 2","evil dead","conjuring","conjuring 2","bhootnath","aatma"]
}

df = pd.DataFrame(dataset)

In [3]:
df

     action        comedy        drama     thriller       horror
0    matrix      the mask       dabang       kahani       oculus
1    batman       dhamaal       krrish          kgf     the ring
2  superman          bala   hera pheri  batla house           it
3    dabang     housefull         bala  madras cafe   the ring 2
4  avengers       golmaal       kahani          uri    evil dead
5      thor    hera pheri  batla house          raw    conjuring
6      hulk     golmaal 2          kgf         lucy  conjuring 2
7    krrish     dhamaal 2         zero     the ring    bhootnath
8   ironman  hera pheri 2       sultan       oculus        aatma

In [33]:
user = {"it","dhamaal","sultan","aatma","conjuring","bala","ironman","thor"}

In [34]:
categories = {}
for cat in df.columns:
    categories[cat] = 0.0

In [35]:
categories

{'action': 0.0, 'comedy': 0.0, 'drama': 0.0, 'thriller': 0.0, 'horror': 0.0}

In [36]:
for cat in df.columns:
    intersection = set(df[cat]).intersection(user)
    union = set(df[cat]).union(user)
    score = len(intersection) / len(union)
    categories[cat] = score

In [37]:
categories

{'action': 0.13333333333333333,
 'comedy': 0.13333333333333333,
 'drama': 0.13333333333333333,
 'thriller': 0.0,
 'horror': 0.21428571428571427}

In [38]:
categories.items()

dict_items([('action', 0.13333333333333333), ('comedy', 0.13333333333333333), ('drama', 0.13333333333333333), ('thriller', 0.0), ('horror', 0.21428571428571427)])

In [39]:
max(categories.items(), key = lambda x : x[1])

('horror', 0.21428571428571427)

In [40]:
cat = max(categories.items(), key = lambda x : x[1])[0]

In [41]:
# Recommended Movies
set(df[cat]) - user

{'bhootnath', 'conjuring 2', 'evil dead', 'oculus', 'the ring', 'the ring 2'}